.wrapper {
    width: 1170px;
    margin: 0 auto;
    overflow: auto;
}

.row {
    margin: 56px 0;

    &:after {
        display: block;
        content: ' ';
        height: 0;
        visibility: hidden;
        clear: both;
    }
}

[class*='span'] {
    float: left;
    display: inline;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
        float: right;
    }
}


.span1  { width:   70px; }
.span2  { width:  170px; }
.span3  { width:  270px; }
.span4  { width:  370px; }
.span5  { width:  470px; }
.span6  { width:  570px; }
.span7  { width:  670px; }
.span8  { width:  770px; }
.span9  { width:  870px; }
.span10 { width:  970px; }
.span11 { width: 1070px; }
.span12 { width: 1170px; }

.offset1  { margin-left:   70px; }
.offset2  { margin-left:  170px; }
.offset3  { margin-left:  270px; }
.offset4  { margin-left:  370px; }
.offset5  { margin-left:  470px; }
.offset6  { margin-left:  570px; }
.offset7  { margin-left:  670px; }
.offset8  { margin-left:  770px; }
.offset9  { margin-left:  870px; }
.offset10 { margin-left:  970px; }
.offset11 { margin-left: 1070px; }
.offset12 { margin-left: 1170px; }