@import "reset.css";
@import "grid";

body {
    background-color: #ffffff;
    font-family: Rockwell, sans-serif;
    font-size: 12px;
    font-weight: 100;

    button:focus {
        outline: none;
    }
}

.header {
    height: 167px;
    color: #202242;

    .logo {
        margin: 56px 0;
        font-size: 30px;

        span {
            font-weight: 800;
        }

        &:before {
            content: ' ';
            display: block;
            width: 26px;
            height: 32px;
            background-image: url('../img/logo.png');
            float: left;
            margin-right: 20px;
        }
    }

    .menu {
        margin: 66px 0;
        li {
            float: left;
            margin-left: 30px;
            font-size: 16px;
            text-transform: uppercase;

            &:hover {
                color: #ffe13e;
            }
        }
    }

    .contacts {
        border-left: 1px solid #ebebeb;
        padding: 41px 0 56px 35px;

        button {
            height: 41px;
            width: 121px;
            background-color: #ffe13e;
            font-size: 14px;
            margin: 17px 22px 0 0;
        }

        .telephone {
            display: inline-block;
            font-size: 24px;
            padding: 1px 0 5px 15px;
            margin-top: 17px;
            border-left: 1px solid #babbc4;
        }
    }
}

.main-header {
    height: 555px;
    background: url('../img/balloon.jpg') no-repeat center top;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    padding-top: 235px;

    h2 {
        color: #ffffff;
        font-size: 48px;
        text-shadow: 1px 1px 1px #bebebe;
        text-align: center;
    }

    h3 {
        margin: 45px auto 58px auto;
        color: #ffffff;
        text-shadow: 1px 1px 1px #bebebe;
        font-size: 30px;
        text-align: center;
    }

    .img {
        margin: 0 auto 60px auto;
        width: 105px;

    }

    .select-domain {
        border: 18px solid #dddddd;
        background: #ffe13e;
        width: 540px;
        margin: 0 auto;

        & > :focus {
            outline: none;
        }
        input {
            width: 243px;
            height: 56px;
            color: #2d2d2d;
            font-size: 18px;
            padding-left: 18px;
            border: none;

        }

        select {
            background: #ffe13e url('../img/select-arrow.gif') no-repeat 97% center;
            border: 1px solid #ffe13e;
            border-right: 1px solid #ffffff !important;
            height: 55px;
            width: 108px;

            color: #2d2d2d;
            font-size: 18px;

            -webkit-appearance: none; /*Removes default chrome and safari style*/
            -moz-appearance: none; /* Removes Default Firefox style*/
            text-indent: 0.01px; /* Removes default arrow from firefox*/
            text-overflow: ' '; /*Removes default arrow from firefox*/
            /*My custom style for fonts*/
        }

        button {
            background-color: #ffe13e;
            color: #ffffff;
            font-size: 16px;
            height: 54px;
            width: 155px;
        }
    }
}

.services {
    position: relative;
    width: 100%;
    height: 650px;

    .web-host {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;

        background: #202242;
        height: 650px;
    }

    .domain {
        position: absolute;
        top: 0;
        right: 0;

        width: 50%;
        background: #ffe13e;
    }

    .container {
        margin: 110px auto;
        width: 440px;

        img {
            display: block;
            margin: 0 auto;
            width: 170px;
        }

        h3 {
            margin: 0 auto;
            width: 360px;
            color: #ffffff;
            font-size: 36px;
            text-align: center;
            padding-top: 56px;
        }

        h2 {
            font-size: 160px;
            margin: 0 auto;
            width: 360px;
            height: 170px;
            color: #202242;
            text-align: center;
        }
        p {
            font-size: 14px;
            color: #ffffff;
            text-align: center;
            margin: 25px 0 36px 0;
            line-height: 20px;
        }

        button {
            background: none;
            border: 1px solid #ffffff;
            width: 147px;
            height: 47px;
            margin: 0 auto;
            display: block;

            color: #ffffff;
            font-size: 18px;
        }
    }
}

.features {
    background: #fbf8f1 url('../img/feature-shape.png') bottom center no-repeat;
    height: 700px;

    h2 {
        padding: 95px 0 30px 0;
        color: #202242;
        font-size: 48px;
        text-align: center;
        font-weight: 900;
    }

    h3 {
        text-align: center;
        color: #202242;
        font-size: 24px;
        padding-bottom: 88px;
    }

    .tab {
        img {
            display: block;
            margin: 0 auto;
            width: 129px;
        }

        hr {
            border-bottom: 1px solid #8d8d99;
            border-top: 1px solid #8d8d99;
            width: 69px;
            margin: 24px auto;
        }

        h4 {
            text-align: center;
            font-size: 30px;
            color: #ffe13e;
            margin-bottom: 25px;
        }

        p {
            text-align: center;
            font-size: 14px;
            color: #202242;
            line-height: 20px;
        }
    }
}

.testimonial {
    .clients {
        h3 {
            color: #202242;
            font-size: 36px;
            margin-bottom: 30px;
        }

        p {
            color: #adadad;
            font-size: 16px;
            line-height: 20px;
        }

        img {
            margin-top: 15px;
        }
    }

    .comments {
        padding-bottom: 60px;
        .comment {
            height: 180px;
            background: #faf9f9;

            p {
                color: #a4a4a4;
                line-height: 20px;
                padding: 30px 20px 25px 20px;
            }

            .name {
                color: #696969;
                font-size: 16px;
                padding-left: 25px;
            }

            img {
                width: 90px;
                height: 90px;

                border-radius: 50%;
                border: 5px solid #e2e1e5;

                margin: -25px 20px 0 0;
                float: right;
            }
        }
    }
}

.footer {
    background: #202242;

    .title {

        h3 {
            color: #ffffff;
            font-size: 36px;
        }

        h4 {
            color: #67687b;
            font-size: 18px;
            padding-top: 20px;
        }
    }

    button {
        background: #ffe13e;
        height: 80px;
        width: 225px;
        border: 4px solid #ffffff;
        color: #202242;
        font-size: 18px;

    }

}

.cta {
    background: #363855;
//    height: 670px;

    .map {
        margin-top: 95px;
    }

    h3 {
        font-size: 18px;
        color: #ffffff;
        text-align: right;
        margin: 95px 0 40px 0;
    }

    .menu {
        margin-left: 205px;
        li {
            color: #5e6077;
            font-size: 16px;
            text-align: right;
            border-bottom: 1px solid #5e6077;
            width: 65px;
            padding: 10px 0;

            &:last-child {
                border: none;
            }
        }
    }

    .social {
        margin: 45px 0 0 150px;
        li {
            background: url('../img/social.gif') no-repeat;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 18px;

            &.in {
                background-position: -33px 0;
            }

            &.google {
                background-position: -72px 0;
            }
        }
    }

    .back-to-top {
        color: #ffffff;
        text-align: right;
        padding-top: 70px;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .copyright {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        padding-top: 17px;
    }
}