@import url(reset.css);
.wrapper {
  width: 1170px;
  margin: 0 auto; }

.row {
  margin: 56px 0; }
  .row:after {
    display: block;
    content: ' ';
    height: 0;
    visibility: hidden;
    clear: both; }

[class*='span'] {
  float: left;
  display: inline;
  margin-right: 30px; }
  [class*='span']:last-child {
    margin-right: 0;
    float: right; }

.span1 {
  width: 70px; }

.span2 {
  width: 170px; }

.span3 {
  width: 270px; }

.span4 {
  width: 370px; }

.span5 {
  width: 470px; }

.span6 {
  width: 570px; }

.span7 {
  width: 670px; }

.span8 {
  width: 770px; }

.span9 {
  width: 870px; }

.span10 {
  width: 970px; }

.span11 {
  width: 1070px; }

.span12 {
  width: 1170px; }

.offset1 {
  margin-left: 70px; }

.offset2 {
  margin-left: 170px; }

.offset3 {
  margin-left: 270px; }

.offset4 {
  margin-left: 370px; }

.offset5 {
  margin-left: 470px; }

.offset6 {
  margin-left: 570px; }

.offset7 {
  margin-left: 670px; }

.offset8 {
  margin-left: 770px; }

.offset9 {
  margin-left: 870px; }

.offset10 {
  margin-left: 970px; }

.offset11 {
  margin-left: 1070px; }

.offset12 {
  margin-left: 1170px; }

body {
  background-color: #ffffff;
  font-family: Rockwell, sans-serif;
  font-size: 12px;
  font-weight: 100; }
  body button:focus {
    outline: none; }

.header {
  height: 167px;
  color: #202242; }
  .header .logo {
    margin: 56px 0;
    font-size: 30px; }
    .header .logo span {
      font-weight: 800; }
    .header .logo:before {
      content: ' ';
      display: block;
      width: 26px;
      height: 32px;
      background-image: url('../img/logo.png');
      float: left;
      margin-right: 20px; }
  .header .menu {
    margin: 66px 0; }
    .header .menu li {
      float: left;
      margin-left: 30px;
      font-size: 16px;
      text-transform: uppercase; }
      .header .menu li:hover {
        color: #ffe13e; }
  .header .contacts {
    border-left: 1px solid #ebebeb;
    padding: 41px 0 56px 35px; }
    .header .contacts button {
      height: 41px;
      width: 121px;
      background-color: #ffe13e;
      font-size: 14px;
      margin: 17px 22px 0 0; }
    .header .contacts .telephone {
      display: inline-block;
      font-size: 24px;
      padding: 1px 0 5px 15px;
      margin-top: 17px;
      border-left: 1px solid #babbc4; }

.main-header {
  height: 555px;
  background: url('../img/balloon.jpg') no-repeat center top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding-top: 235px; }
  .main-header h2 {
    color: #ffffff;
    font-size: 48px;
    text-shadow: 1px 1px 1px #bebebe;
    text-align: center; }
  .main-header h3 {
    margin: 45px auto 58px auto;
    color: #ffffff;
    text-shadow: 1px 1px 1px #bebebe;
    font-size: 30px;
    text-align: center; }
  .main-header .img {
    margin: 0 auto 60px auto;
    width: 105px; }
  .main-header .select-domain {
    border: 18px solid #dddddd;
    background: #ffe13e;
    width: 540px;
    margin: 0 auto; }
    .main-header .select-domain > :focus {
      outline: none; }
    .main-header .select-domain input {
      width: 243px;
      height: 56px;
      color: #2d2d2d;
      font-size: 18px;
      padding-left: 18px;
      border: none; }
    .main-header .select-domain select {
      background: #ffe13e url('../img/select-arrow.gif') no-repeat 97% center;
      border: 1px solid #ffe13e;
      border-right: 1px solid #ffffff !important;
      height: 55px;
      width: 108px;
      color: #2d2d2d;
      font-size: 18px;
      -webkit-appearance: none;
      /*Removes default chrome and safari style*/
      -moz-appearance: none;
      /* Removes Default Firefox style*/
      text-indent: 0.01px;
      /* Removes default arrow from firefox*/
      text-overflow: ' ';
      /*Removes default arrow from firefox*/
      /*My custom style for fonts*/ }
    .main-header .select-domain button {
      background-color: #ffe13e;
      color: #ffffff;
      font-size: 16px;
      height: 54px;
      width: 155px; }

.services {
  position: relative;
  width: 100%;
  height: 650px; }
  .services .web-host {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background: #202242;
    height: 650px; }
  .services .domain {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background: #ffe13e; }
  .services .container {
    margin: 110px auto;
    width: 440px; }
    .services .container img {
      display: block;
      margin: 0 auto;
      width: 170px; }
    .services .container h3 {
      margin: 0 auto;
      width: 360px;
      color: #ffffff;
      font-size: 36px;
      text-align: center;
      padding-top: 56px; }
    .services .container h2 {
      font-size: 160px;
      margin: 0 auto;
      width: 360px;
      height: 170px;
      color: #202242;
      text-align: center; }
    .services .container p {
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      margin: 25px 0 36px 0;
      line-height: 20px; }
    .services .container button {
      background: none;
      border: 1px solid #ffffff;
      width: 147px;
      height: 47px;
      margin: 0 auto;
      display: block;
      color: #ffffff;
      font-size: 18px; }

.features {
  background: #fbf8f1 url('../img/feature-shape.png') bottom center no-repeat;
  height: 700px; }
  .features h2 {
    padding: 95px 0 30px 0;
    color: #202242;
    font-size: 48px;
    text-align: center;
    font-weight: 900; }
  .features h3 {
    text-align: center;
    color: #202242;
    font-size: 24px;
    padding-bottom: 88px; }
  .features .tab img {
    display: block;
    margin: 0 auto;
    width: 129px; }
  .features .tab hr {
    border-bottom: 1px solid #8d8d99;
    border-top: 1px solid #8d8d99;
    width: 69px;
    margin: 24px auto; }
  .features .tab h4 {
    text-align: center;
    font-size: 30px;
    color: #ffe13e;
    margin-bottom: 25px; }
  .features .tab p {
    text-align: center;
    font-size: 14px;
    color: #202242;
    line-height: 20px; }

.testimonial .clients h3 {
  color: #202242;
  font-size: 36px;
  margin-bottom: 30px; }
.testimonial .clients p {
  color: #adadad;
  font-size: 16px;
  line-height: 20px; }
.testimonial .clients img {
  margin-top: 15px; }
.testimonial .comments .comment {
  height: 180px;
  background: #faf9f9; }
  .testimonial .comments .comment p {
    color: #a4a4a4;
    line-height: 20px;
    padding: 30px 20px 25px 20px; }
  .testimonial .comments .comment .name {
    color: #696969;
    font-size: 16px;
    padding-left: 25px; }
  .testimonial .comments .comment img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 5px solid #e2e1e5;
    margin: -25px 20px 0 0;
    float: right; }

/*# sourceMappingURL=main.css.map */